:root {
  --bg-color: #eec3c3;
  --line-separator: #fdd0d0;
  --text-color: #ffffff;
  --color-link: #8e6e7b;
  --color-hover: #a99595;
  --input-text: #444444;
  --scroll-track: #00078a00;
  --color-shadow: #afa8a8;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff1f1;
}

#outputs::-webkit-scrollbar-thumb:hover {
  background: #fff1f1;
}

a {
  text-decoration: none;
  color: var(--color-link, #3498c7);
  padding: 2px 8px 2px 8px;
  margin: -4px -8px -4px -8px;
}

a:hover {
  color: var(--color-hover, #e6be10);
  background-color: white;
  cursor: pointer;
}

#poeinst {
  min-width: calc(100% - 50px);
  left: 15px;
  border-radius: 0;
  min-height: 30px;
  max-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  top: 15px;
  box-shadow: none;
  font-size: 10px;
  line-height: 30px;
  background-color: transparent;
}

#outputs {
  width: calc(100% + 40px);
  height: calc(50vh - 126px);
  display: block;
  margin-left: -20px;
  color: var(--fg-color, #d2d2d2);
  overflow-y: auto;
  padding-top: 3px;
  position: fixed;
  top: 55px;
  width: calc(100% - 30px);
  background-color: #000000;
  left: 35px;
  height: calc(100dvh - 105px);
  display: none;
}

#entrada {
  padding: 0;
  min-width: 0;
  height: 30px;
  font-size: 10px;
  line-height: 30px;
  width: 100% !important;
  border: 0;
  outline: 0;
  margin-left: 0;
  background-color: transparent;
  color: var(--input-text, #443535);
  margin-bottom: 0;
}

.outputgrid {
  grid-template-columns: 1fr 1fr 1fr [fim];
}

.linksrecursos {
  font-size: 12px;
}
