:root {
  --bg-color: #a77272;
  --line-separator: #999999;
  --text-color: #6d6b6b;
  --color-link: #684f58;
  --color-hover: #554040;
  --input-text: #444444;
  --scroll-track: #00078a00;
  --color-shadow: #afa8a8;
  --mono-bg-color: #e8e8e8;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-link, #684f58);
}

#outputs::-webkit-scrollbar-thumb:hover {
  background: var(--color-link, #684f58);
}

::-webkit-scrollbar-thumb {
  background: var(--color-link, #684f58);
}

#outputs::-webkit-scrollbar-thumb {
  background: var(--color-link, #684f58);
}

a {
  text-decoration: none;
  color: var(--color-link, #3498c7);
  padding: 2px 8px 2px 8px;
  margin: -4px -8px -4px -8px;
}

a:hover {
  color: var(--color-hover, #e6be10);
  background-color: white;
  cursor: pointer;
}

#poeinst {
  min-width: calc(100% - 30px);
  left: 15px;
  border-radius: 0;
  min-height: 30px;
  max-height: 30px;
  padding-left: 0;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  top: 15px;
  box-shadow: none;
  font-size: 10px;
  line-height: 30px;
  background-color: transparent;
}

.gridhead {
  display: none;
}

#outputs {
  height: calc(50vh - 126px);
  display: block;
  margin-left: -20px;
  color: var(--fg-color, #d2d2d2);
  overflow-y: auto;
  padding-top: 3px;
  position: fixed;
  top: 55px;
  width: calc(100% - 32px);
  background-color: var(--mono-bg-color, #e8e8e8);
  left: 35px;
  height: calc(100dvh - 108px);
  display: none;
  border: 1px solid #cccccc;
}

#entrada {
  padding: 0;
  min-width: 0;
  height: 30px;
  font-size: 12px !important;
  line-height: 30px;
  width: 100% !important;
  border: 0;
  outline: 0;
  margin-left: 0;
  background-color: transparent;
  color: var(--input-text, #443535);
  margin-bottom: 0;
  /* border-top: 1px solid #cccccc; */
  border-bottom: 1px solid #cccccc;
}

.outputgrid {
  grid-template-columns: 1fr 1fr 1fr [fim];
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.linksrecursos {
  font-size: 12px;
}
